#include "CAPA/AbstractSourceCodeReaderRule.h"
#include "CAPA/RuleSet.h"

using namespace std;
using namespace CAPA;

class {{RULE_CLASS_NAME}}Rule : public AbstractSourceCodeReaderRule
{
public:
    virtual const string name() const override
    {
        return "{{RULE_NAME}}";
    }

    virtual int priority() const override
    {
        return {{RULE_PRIORITY}};
    }

    virtual const string category() const override
    {
        return "{{RULE_CATEGORY}}";
    }

    virtual void eachLine(int lineNumber, string line) override
    {
    }
};

static RuleSet rules(new {{RULE_CLASS_NAME}}Rule());
